applications:
  #############################################
  # DEPENDENCY TRACK (WYŁĄCZONY na PROD)
  #############################################
  dependencyTrack:
    enabled: false
    name: dependency-track
    namespace: dependency-track

    helmRepoUrl: https://dependencytrack.github.io/helm-charts
    chart: dependency-track
    chartVersion: 0.40.0

    values: |
      ingress:
        enabled: false

      frontend:
        enabled: true
        replicaCount: 1
        env:
          - name: API_BASE_URL
            value: "/api"

      apiserver:
        enabled: true
        replicaCount: 1
        service:
          type: ClusterIP
          port: 8080

        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "2000m"
            memory: "3Gi"

        nodeSelector:
          kubernetes.io/os: linux

      postgresql:
        enabled: true

      persistence:
        enabled: true

  #############################################
  # MONITORING – PROMETHEUS (PROD)
  #############################################
  prometheus:
    enabled: true
    name: prometheus
    namespace: monitoring
    helmRepoUrl: https://prometheus-community.github.io/helm-charts
    chart: prometheus
    chartVersion: 25.30.0
    values: |
      server:
        retention: 30d
        persistentVolume:
          enabled: true
          size: 10Gi
        alerting:
        alertmanagers:
        - static_configs:
            - targets: ["alertmanager:9093"]
          kubernetes_sd_configs: []
          relabel_configs: []

        ruleFiles:
          - /etc/config/alerts

      serverFiles:
        alerts:
          groups:
            - name: adrian-java-app
              rules:
                - alert: AdrianJavaAppHttp500
                  expr: increase(http_server_requests_seconds_count{status="500"}[5m]) > 0
                  for: 0s
                  labels:
                    severity: critical
                  annotations:
                    summary: "HTTP 5xx detected in adrian-java-app (PROD)"
                    description: "Wykryto błąd 500 na PROD"

      extraScrapeConfigs: |
        - job_name: "spring-boot"
          metrics_path: /actuator/prometheus
          static_configs:
            - targets:
                - adrian-java-app.environment-prod.svc.cluster.local:80

  alertmanager:
    enabled: true
    name: alertmanager
    namespace: monitoring

    helmRepoUrl: https://prometheus-community.github.io/helm-charts
    chart: alertmanager
    chartVersion: 1.13.1

    values: |
      replicaCount: 1

      extraArgs:
        log.level: info

      persistence:
        enabled: true
        size: 2Gi

      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 300m
          memory: 256Mi

      config:
        global:
          smtp_smarthost: "smtp.gmail.com:587"
          smtp_from: "adrian.dmytryk@gmail.com"
          smtp_auth_username: "adrian.dmytryk@gmail.com"
          smtp_auth_password_file: "/etc/alertmanager/secrets/alertmanager-gmail/smtp_password"
          smtp_require_tls: true

        route:
          receiver: "gmail"
          group_wait: 10s
          group_interval: 1m
          repeat_interval: 5m

        receivers:
          - name: "gmail"
            email_configs:
              - to: "adrian.dmytryk@gmail.com"
                send_resolved: true

      extraSecretMounts:
        - name: alertmanager-gmail
          secretName: alertmanager-gmail
          mountPath: /etc/alertmanager/secrets/alertmanager-gmail
          readOnly: true

  #############################################
  # SONARQUBE (WYŁĄCZONY na PROD)
  #############################################
  sonarqube:
    enabled: false
    name: sonarqube
    namespace: sonarqube

    helmRepoUrl: https://SonarSource.github.io/helm-chart-sonarqube
    chart: sonarqube
    chartVersion: 2025.5.0

    values: |
      replicaCount: 1
